*~
*.[ios]
*.ii
*.tmp
lex.backup
test-kthxbai
test-kthxbai-p
test-orly
test-dawg
test-dawg-syn
test-yodawg
test-yodawg-syn
test-orly-wut
test-doge
test-doge-abs-reloc
test-doge-eh
*.debug
omnomnom.cc
omnomnom
config.cache
derp.h
calm
innocent-pear-c++
innocent-pear-doge
innocent-pear-dogecoin
